
* {
    box-sizing: border-box;
}


body {
    background: url("content/floor-tile.png");
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Monsterrat, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.header {
    padding: 20px;
    text-align: center;
    color: white;
    padding: 30px;
    margin-bottom: 10px;
    background: #B334B3; /* #1abc9c; */ 
    border-radius: 10px;
    box-shadow:0 0 4px #000;  
}

.header h1 {
    font-size: 30px;
}

.header p {
    font-size: 20px;
}

h3 {
    color: #FF70FF

}

.banner {
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:8px; 
    background-size:100%;
    background-position:center;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 4px #000;
}
.banner:hover  {
    background-size: 110%;
}

.banner:before { 
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    transform:translateY(85%);/*use transform:translateY(100%); to remove footer*/
    -webkit-transform:translateY(85%);
    -moz-transform:translateY(85%);
    -o-transform:translateY(85%);
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding: 0px 8px;
    content:attr(data-title);
    transition:0.5s 0.1s;
    -webkit-transition:0.5s 0.1s;
    -moz-transition:0.5s 0.1s;
    -o-transition:0.5s 0.1s;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
}

.banner:after {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    padding:8px;
    content:attr(data-text);
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    padding-top:2em;
    margin-top: 8px;
    transform:translateY(100%);
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    opacity:0;
    font-size: 0.8em;
}

.banner:hover:after {
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
    transition:0.5s 0.1s;
    -webkit-transition:0.5s 0.1s;
    -moz-transition:0.5s 0.1s;
    -o-transition:0.5s 0.1s;
    opacity:1;
    font-size: 0.8em;
}

.banner:hover:before {
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
    padding: 8px;
    background-color:rgba(0,0,0,0.6);
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
}

.banner.right {
    background-image:url(content/glasses.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    float:right;
    width: 270px;
    height: 200px;
}

.banner.right:hover {
    background-size:160%;
}

.banner.left {
    background-image: url("content/bugs.jpg");
    background-repeat: no-repeat;
    float:left;
    width: 250px;
    height: 140px;
    margin-right: 30px;
}

.banner.right2 {
    background-image:url(content/art.jpg);
    background-repeat: no-repeat;
    float:right;
    width: 270px;
    height: 180px;
}

.row {
    width: 100%;
    display: block;
}

.row p {
    color: #000;
}

.row ul li {
    color: #000;
}

.row:after, .row1:after, .row15:after, .row2:after {
    content: "";
    display: table;
    clear: both;
}

.row15 {    
    display: inline-block;
}

.row2 iframe {
    margin: auto;
    display:block;
}

.info {
    margin: 10px;
    height: 10%;
    text-align: left;
    background: #B334B3;
    padding: 10px;  
    border-radius: 5px;
    box-shadow:0 0 4px #000;
    display: inline-block; 
}

.info p {
    font-size: 20px;
    color: #f2f2f2;
}

.info ul li{
    font-size: 20px;
    color: #f2f2f2;        
}

.info.first {
    float:left;
    width:50%;
}

.info.second {
    float:right; 
    width:45%; 
    height: 240px;
    padding-top: 0; 
    padding-bottom: 0;
}

#error {
    display: none;
    text-align:center;
    font-size: 20px;
    color: #fff;
}

#error-div {
    display:none;
    background: red;
    height: 10%;
    border-radius: 5px;
    box-shadow:0 0 4px #000;
}

#unity-game {
    width: 960px;
    height: 645px;  
    border-radius: 8px;
    box-shadow:0 0 4px #000;    
}

.footer {
    margin: auto;
    width: 80%;
    padding: 5px;
    text-align: center;
    background: #B334B3;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow:0 0 4px #000;
}

.footer p {
    line-height: 8px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 800px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .banner:before { 
        transform:translateY(80%);/*use transform:translateY(100%); to remove footer*/
        -webkit-transform:translateY(80%);
        -moz-transform:translateY(80%);
        -o-transform:translateY(80%);
    }

    .banner.right {
        float:none;
        margin: auto;
        padding: 30px;
        
    }

    .banner.right:before {
        font-size: 0.8em;
    }

    .banner.right:after {
        font-size: 0.6em;
    }

    .banner.left {
        float:none;
        margin: auto;
        padding: 30px;
    }

    .banner.left:after {
        font-size: 0.6em;
    }

    .banner.right2 {
        float:none;
        margin: auto;
        padding: 30px;
    }

    .banner.right2:after {
        font-size: 0.6em;
    }

    .info.first  {
        width: 100%;
        float:none;
    }
    .info.second  {
        width: 100%;
        float:none;
    }
    
    .row15 {
        display: block;
    }

    #unity-game {
        width: 500px;
        height: 1000px;
    }
}

@media screen and (max-width: 700px) {
    #error {
        display: block;
    }
    #error-div {
        display: block;
    }
    .row2 iframe {
        display:none;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
    #error {
        display: block;
    }
    #error-div {
        display: block;
    }
    .row2 iframe {
        display:none;
    }

    .footer p {
        line-height: 20px;
    }
}
